<div class="container">
  <div class="card">
    <div class="face face1">
      <div class="content">
        <h2>Service One</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
           Sit repudiandae mollitia harum id ipsam qui obcaecati itaque ex. Ipsa, assumenda.</p>
        <a href="">Read More</a>
      </div>
    </div>
    <div class="face face2">
      <div class="content">
        <h2>1</h2>
      </div>
    </div>
  </div>
  <div class="card">
      <div class="face face1">
        <div class="content">
          <h2>Service Two</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Sit repudiandae mollitia harum id ipsam qui obcaecati itaque ex. Ipsa, assumenda.</p>
          <a href="">Read More</a>
        </div>
      </div>
      <div class="face face2">
        <div class="content">
          <h2>2</h2>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="face face1">
          <div class="content">
            <h2>Service Three</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Sit repudiandae mollitia harum id ipsam qui obcaecati itaque ex. Ipsa, assumenda.</p>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="face face2">
          <div class="content">
            <h2>3</h2>
          </div>
        </div>
      </div>
</div>