<div class="container">
  <div class="card">
    <div class="front" [ngClass]="{'front-view': viewMore}">
      <div class="location">New Dehli</div>
      <div class="more" (click)="viewMore = !viewMore"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
      <div class="weather">
        <i class="fa fa-cloud" aria-hidden="true"></i>
        <h1><span>8<sup>o</sup></span><span>Today</span></h1>
        <ul class="forecast">
          <li>
            <div class="day">Sunday</div>
            <div class="temprature">
              <i class="fa fa-cloud" aria-hidden="true"></i>
              9 <sup>o</sup>
            </div>
          </li>
          <li>
            <div class="day">Monday</div>
            <div class="temprature">
              <i class="fa fa-tint" aria-hidden="true"></i>
              9 <sup>o</sup>
            </div>
          </li>
          <li>
            <div class="day">Tuesday</div>
            <div class="temprature">
              <i class="fa fa-snowflake-o" aria-hidden="true"></i>
              9 <sup>o</sup>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="back" [ngClass]="{'view-more': viewMore}">
      <div class="go-back" (click)="viewMore = !viewMore"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></div>
      <ul class="forecast">
        <li>
          <div class="day">Yesterday</div>
          <div class="temprature">
            <i class="fa fa-cloud" aria-hidden="true"></i>
            7 <sup>o</sup>
          </div>
        </li>
        <li>
          <div class="day">Today</div>
          <div class="temprature">
            <i class="fa fa-tint" aria-hidden="true"></i>
            8 <sup>o</sup>
          </div>
        </li>
        <li>
          <div class="day">Tommorow</div>
          <div class="temprature">
            <i class="fa fa-snowflake-o" aria-hidden="true"></i>
            9 <sup>o</sup>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>