<div class="container">
  <div class="card">
    <div class="imgBox">
      <img src="/assets/img/building-inside.jpeg" alt="building-inside">
    </div>
    <div class="details">
      <h2>Lorem ipsum dolor</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fuga in dolore exercitationem consectetur est
        facilis
        eligendi aliquid voluptate! Dicta quasi nesciunt ipsa ad cumque earum corporis provident perspiciatis amet!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="imgBox">
      <img src="/assets/img/bridge.jpeg" alt="bridge">
    </div>
    <div class="details">
      <h2>Lorem ipsum dolor</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fuga in dolore exercitationem consectetur est
        facilis
        eligendi aliquid voluptate! Dicta quasi nesciunt ipsa ad cumque earum corporis provident perspiciatis amet!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="imgBox">
      <img src="/assets/img/city.jpeg" alt="city">
    </div>
    <div class="details">
      <h2>Lorem ipsum dolor</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fuga in dolore exercitationem consectetur est
        facilis
        eligendi aliquid voluptate! Dicta quasi nesciunt ipsa ad cumque earum corporis provident perspiciatis amet!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="imgBox">
      <img src="/assets/img/camera-guy.jpeg" alt="camera-guy">
    </div>
    <div class="details">
      <h2>Lorem ipsum dolor</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fuga in dolore exercitationem consectetur est
        facilis
        eligendi aliquid voluptate! Dicta quasi nesciunt ipsa ad cumque earum corporis provident perspiciatis amet!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="imgBox">
      <img src="/assets/img/corador.jpeg" alt="carodor">
    </div>
    <div class="details">
      <h2>Lorem ipsum dolor</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fuga in dolore exercitationem consectetur est
        facilis
        eligendi aliquid voluptate! Dicta quasi nesciunt ipsa ad cumque earum corporis provident perspiciatis amet!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="imgBox">
      <img src="/assets/img/kitchen.jpeg" alt="kitchen">
    </div>
    <div class="details">
      <h2>Lorem ipsum dolor</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et fuga in dolore exercitationem consectetur est
        facilis
        eligendi aliquid voluptate! Dicta quasi nesciunt ipsa ad cumque earum corporis provident perspiciatis amet!
      </p>
    </div>
  </div>
</div>