/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #30363D;
  --secondary-color: #fff;
  
  --text-light: #F7F7F7;
  --text-dark: #000;
  --text-muted: #F7F7F7;
}

body {
  padding: 0;
  margin: 0;

  background: var(--primary-color);
}