.feature-cards {
  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  // grid-gap: 10px;
  // padding: 10px;
  // justify-content: center;
  align-items: center;
}

.header {
  grid-column: 1 / 4;
  grid-row: 1;
  justify-content: center;
  text-align: center;
  color: var(--text-light)
}