<div class="card">
  <div class="face face1">
    <div class="content">
      <img src="assets/img/data.png">
      <h3>Design</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi ratione itaque. Iste incidunt,
        reprehenderit mollitia autem tempore hic dolore.</p>
      <a href="#">Read More...</a>
    </div>
  </div>
</div>
<div class="card">
  <div class="face face1">
    <div class="content">
      <img src="assets/img/sketch.png">
      <h3>Code</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi ratione itaque. Iste incidunt,
        reprehenderit mollitia autem tempore hic dolore.</p>
      <a href="#">Read More...</a>
    </div>
  </div>
</div>
<div class="card">
  <div class="face face1">
    <div class="content">
      <img src="assets/img/startup.png">
      <h3>Launch</h3>
    </div>
  </div>
  <div class="face face2">
    <div class="content">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quasi ratione itaque. Iste incidunt,
        reprehenderit mollitia autem tempore hic dolore.</p>
        <a href="#">Read More...</a>
    </div>
  </div>
</div>